@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css');
* {
  margin: 0;
  padding: 0;
}

body {
    padding: 1rem;
}

form > * {
  margin: 1rem;
}

li {
  display: flex;
  align-items: center;
}

li > * {
  margin: 0.5rem;
  width: 33%;
}